@page "/customers"
@using EStore.Components.Dialogs
@attribute [StreamRendering(true)]
@rendermode InteractiveServer

<h3>Kunder</h3>

<div class="mb-3">
    <input type="text" class="form-control" placeholder="Sök efter kundens epost" @bind="_searchQuery" />
    <button class="btn btn-primary mt-2" @onclick="SearchCustomers">Sök</button>
    <button class="btn btn-secondary mt-2 ms-2" @onclick="ClearSearch">Rensa</button>
</div>

<button class="btn btn-success" @onclick="() => PrepareCreate()">Lägg till kund</button>

@if (_isLoading)
{
    <p>Hämtar kunder...</p>
}
else if (_errorMessage != null)
{
    <p class="text-danger">@_errorMessage</p>
}
else if (_customers.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Förnamn</th>
                <th>Efternamn</th>
                <th>Email</th>
                <th>Mobilnummer</th>
                <th>Gatuadress</th>
                <th>Postnummer</th>
                <th>Postort</th>
                <th>Land</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in _customers)
            {
                <tr>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>@customer.Email</td>
                    <td>@customer.Mobile</td>
                    <td>@customer.Street</td>
                    <td>@customer.PostalCode</td>
                    <td>@customer.City</td>
                    <td>@customer.Country</td>
                    <td>
                        <button class="btn btn-warning" @onclick="() => PrepareEdit(customer)">Redigera</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Inga kunder hittades.</p>
}

@if (_isCreationModalVisible)
{
    <CustomerCreateDialog Customer="_customerForCreation"
                         IsVisible="_isCreationModalVisible"
                         OnSave="HandleCreateSave"
                         OnCancel="HandleCreateCancel" />
}

@if (_isEditDialogVisible)
{
    <CustomerEditDialog Customer="_customerToEdit"
                       IsVisible="_isEditDialogVisible"
                       OnSave="HandleEditSave"
                       OnCancel="HandleEditCancel" />
}
