@page "/products"
@attribute [StreamRendering(true)]
@rendermode InteractiveServer

<h3>Produkter</h3>

<button class="btn btn-success" @onclick="() => PrepareCreate()">Lägg till produkt</button>

@if (isLoading) 
{
    <p>Hämtar produkter...</p>
}
else if (_errorMessage != null)
{
    <p class="text-danger">@_errorMessage</p>
}
else if (_products.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Produktnummer</th>
                <th>Namn</th>
                <th>Beskrivning</th>
                <th>Pris</th>
                <th>Produktkategori</th>
                <th>Åtgärder</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in _products)
            {
                <tr>
                    <td>@product.ProductNumber</td>
                    <td>@product.Name</td>
                    <td>
                        <button class="btn btn-info" @onclick="() => ShowDescription(product.Description)">Läs mer</button>
                    </td>
                    <td>@product.Price.ToString("C")</td>
                    <td>@product.Category</td>
                    <td>
                        <button class="btn btn-warning" @onclick="() => PrepareEdit(product)">Redigera</button>
                        <button class="btn btn-danger" @onclick="() => PrepareDelete(product.Id)">Ta bort</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Inga produkter hittades.</p>
}

<ProductDeleteConfirmDialog IsVisible="isConfirmDialogVisible" OnConfirmed="HandleDeleteConfirmation" />

@if (isEditDialogVisible)
{
    <ProductEditDialog Product="_productToEdit"
    IsVisible="isEditDialogVisible"
    OnSave="HandleEditSave"
    OnCancel="HandleEditCancel" />
}


@if (isDescriptionModalVisible)
{
    <ProductDescriptionDialog Description="@_currentDescription"
    IsVisible="isDescriptionModalVisible"
    OnClose="CloseDescriptionModal"/>
}

@if (isCreationModalVisible)
{
    <ProductCreateDialog Product="_productForCreation"
        IsVisible="isCreationModalVisible"
        OnSave="HandleCreateSave"
        OnCancel="HandleEditCancel"/>
}